<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//unpkg.com/purecss@1.0.0/build/base-min.css">
    <style>
        .source {
            display: none
        }
    </style>
</head>

<body>
    <div id="layout">
        <div id="main">
            <div class="header">
                <h1><%= article.title %></h1>
                <h2><%= article.author %> - <%= article.nodes %> </h2>
            </div>
            <div class="content">
            </div>
            <div class="source"><%= article.content %></div>
        </div>
    </div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
    $('.content').html(marked($('.source').html()));
</script>

</html>