<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/data/assets/base-min.css">
</head>

<body>
    <div class="pure-g">
        <div class="pure-u-1-3">
        </div>
        <div class="pure-u-1-3">
            <style>
                .custom-restricted-width {
                    display: inline-block;
                }
            </style>
            <div class="pure-menu custom-restricted-width">
                <!-- <span class="pure-menu-heading"></span> -->
                <h1><%=title %></h1>
                <ul class="pure-menu-list">
                    <% sites.forEach(function(site){%>
                    <li class="pure-menu-item">
                        <a href="/<%=site.site %>" class="pure-menu-link"><%=site.title %></a>
                    </li>
                    <% }) %>
                </ul>
            </div>
        </div>
        <div class="pure-u-1-3">
        </div>
    </div>
</body>

<script>
</script>

</html>